<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img class="d-block header-img" src="assets\img\headers-img-3.jpeg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block header-img" src="assets\img\headers-img-4.jpg" alt="Second slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block header-img" src="assets\img\headers-img-5.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span> -->
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<app-about-us></app-about-us>
<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block header-img" src="assets\img\headers-img-3.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block header-img" src="assets\img\headers-img-5.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block header-img" src="assets\img\headers-img-4.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  
  <div id="carouselExampleCaptions " class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\img\headers-img-3.jpeg" class="d-block header-img" alt="laptop.">
        <div class="carousel-caption d-none d-md-block">
          <h5>welcome to my website</h5>
          <p>technology news ,devlopment and trendes.</p>
          <button class="btn btn-danger">technology</button>
          <button class="btn btn-primary"> web devlopment</button>
          <button class="btn btn-success"> tech fun</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\img\headers-img-4.jpg" class="d-block header-img" alt="laptop">
        <div class="carousel-caption d-none d-md-block">
          <h5>the best coding blog</h5>
          <p>technology news ,devlopment and trendes.</p>
          <button class="btn btn-danger">technology</button>
          <button class="btn btn-primary"> web devlopment</button>
          <button class="btn btn-success"> tech fun</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\img\headers-img-5.jpg" class="d-block  header-img" alt="laptop">
        <div class="carousel-caption d-none d-md-block">
          <h5>award winning blog</h5>
          <p>technology news ,devlopment and trendes.</p>
          <button class="btn btn-danger">technology</button>
          <button class="btn btn-primary"> web devlopment</button>
          <button class="btn btn-success"> tech fun</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev"  role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next"  role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
   </div> -->